<!-- 
 Two-way binding : v-model="header"
 input ↔ data ↔ h1 stalno komuniciraju međusobno, 
 bez potrebe za dodatnim JS event listenerima.
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="shopping-list">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <div class="add-item-form">
            <input v-model="newItem" type="text" placeholder="Add new item" @keyup.enter="items.push(newItem)" />
            <button class="btn btn-primary" @click="items.push(newItem)">Save Item</button>
        </div>
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
        <!-- <input type="text" v-model="header" /> -->
    </div>
    <script src="https://unpkg.com/vue@2"></script>
    <script>
        var shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                header: 'shopping list app',
                newItem: '',
                items: [
                    '10 party hats',
                    '2 board games',
                    '20 cups',
                ]
            }
        });
    </script>
</body>

</html>